<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017382948091-1c5kua2scdkfoo62nrhkote57qe9s0cg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017382948091-1c5kua2scdkfoo62nrhkote57qe9s0cg</string>
	<key>API_KEY</key>
	<string>AIzaSyAzkI4Ix6RPMaNN2wuXS8y3H17p8tVZ63k</string>
	<key>GCM_SENDER_ID</key>
	<string>1017382948091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fastnuces.estartup</string>
	<key>PROJECT_ID</key>
	<string>e-stater</string>
	<key>STORAGE_BUCKET</key>
	<string>e-stater.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017382948091:ios:9af622891f4bc24249b45e</string>
</dict>
</plist>